# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Large ML datasets
ml/data/

# Generated outputs
ml/outputs/
ml/models/
*.pt
*.pth
*.h5
*.pkl
*.joblib

# ZIP archives
*.zip

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
